@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.about-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
}

.first-section {
  height: 90vh;
  width: auto;
  display: grid;
  grid-auto-flow: column;
}

.about-split-left {
  width: 30vw;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  gap: 1.5rem;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
}

.about-para-title {
  margin: 2rem 3rem;
  color: #da821e;
  font-size: 35px;
  opacity: 0;
  animation: fadeUp 0.8s forwards;
  animation-delay: 0.3s;
}

.about-para {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  gap: 2rem;
  height: auto;
  margin: 0 3rem;
  opacity: 0;
  animation: fadeUp 0.8s forwards;
  animation-delay: 1s;
}

.about-para-first {
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 13px;
}
.about-para-second {
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 13px;
}
.about-para-more {
  margin-top: 1.5rem;
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 12px;
  color: grey;
}
.about-split-right {
  width: 70vw;
  z-index: 1;
}

.aboutitem {
  display: grid;
  grid-auto-flow: row;
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 12px;
  gap: 0.5rem;
  margin-top: 1rem;
  opacity: 0;
  animation: fadeUp 0.8s forwards;
  animation-delay: 0.1s;
  border-top: 3px solid wheat;
  padding-top: 2rem;
  border-radius: 5px;
}

.about-mini-item-para-title {
  font-size: 15px;
  font-weight: bold;
  color: #da821e;
}

@media only screen and (max-width: 1000px) {
  .first-section {
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
  }
  .about-split-left {
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 1.5rem;
    margin: 0rem;
    padding: 3rem;
  }
  .about-para-title {
    margin: 3rem 0rem 2rem 0rem;
  }
  .about-para {
    margin: 0rem;
    align-self: center;
  }
  .about-split-right {
    width: 100vw;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
