.Navbar {
  position: fixed;
  z-index: 5;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navi-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  gap: 1.5rem;
  margin-right: 2rem;
  font-weight: 600;
}

.navi-ul-left {
  margin-left: 2rem;
  font-weight: bold;
}
.nav-list {
  padding: 1rem 1.1rem;
  cursor: pointer;
  font-size: 15px;
  color: white;
}

.nav-list:hover {
  border-bottom: 3px solid black;
  color: black;
}
