@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.Navbar {
  position: fixed;
  z-index: 5;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.navi-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  gap: 1.5rem;
  margin-right: 2rem;
  font-weight: 600;
}

.navi-ul-left {
  margin-left: 2rem;
  font-weight: bold;
  color: black;
}
.navi-ul-left p {
  color: black;
  font-size: 16px;
  float: right;
  margin-left: 2px;
}

.logo {
  color: black;
  font-size: 16px;
}
.nav-list {
  padding: 1rem 1.1rem;
  cursor: pointer;
  font-size: 15px;
  color: white;
}

.nav-list:hover {
  border-bottom: 3px solid black;
  color: black;
}
@media (max-width: 768px) {
  .nav-list {
    color: black;
  }
}
